{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>REVA PHARMA - open_job</title>
    <!-- SEO Meta Tags-->
    <meta name="description" content="Add new pharmaceutical product">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Favicon and Touch Icons-->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'site.webmanifest' %}">
    <link rel="mask-icon" color="#5bbad5" href="safari-pinned-tab.svg">
    <meta name="msapplication-TileColor" content="#766df4">
    <meta name="theme-color" content="#ffffff">
    
    <!-- Vendor Styles-->
    <link rel="stylesheet" media="screen" href="{% static 'vendor/simplebar/dist/simplebar.min.css' %}"/>
    <link rel="stylesheet" media="screen" href="{% static 'vendor/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.min.css' %}"/>
    <link rel="stylesheet" media="screen" href="{% static 'vendor/filepond/dist/filepond.min.css' %}"/>
    <!-- Main Theme Styles + Bootstrap-->
    <link rel="stylesheet" media="screen" href="{% static 'css/theme.min.css' %}">
  </head>
  
  <body>
    <!-- Page loading spinner-->
    <div class="page-loading active">
      <div class="page-loading-inner">
        <div class="page-spinner"></div><span>Loading...</span>
      </div>
    </div>

    <main class="page-wrapper">
      
    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top p-0 wow fadeIn" data-wow-delay="0.1s">
      <a href="{% url 'home' %}" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
          <h1 class="m-0 text-primary d-flex align-items-center">
              <img src="{% static 'img/red_icon.svg' %}" alt="REVA PHARMA Logo" style="height: 50px; margin-right: 10px;">
              REVA <h1 class="m-0 d-flex align-items-center" style="color: #3d3e40;">PHARMA</h1>
          </h1>
      </a>
      <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
          <div class="navbar-nav ms-auto p-4 p-lg-0">
              <a href="{% url 'home' %}" class="nav-item nav-link active">Home</a>
              <div class="nav-item dropdown">
                  <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Services</a>
                  <div class="dropdown-menu rounded-0 rounded-bottom m-0">
                      <a href="{% url 'job' %}" class="dropdown-item">Job Vacancies</a>
                      <a href="{% url 'report' %}" class="dropdown-item">Report</a>
                  </div>
              </div>
              <a href="{% url 'product' %}" class="nav-item nav-link">Our Products</a>
              <a href="{% url 'about' %}" class="nav-item nav-link">About</a>
              <a href="{% url 'contact' %}" class="nav-item nav-link">Contact</a>
          </div>
      </div>
  </nav>
  <!-- Navbar End -->

      <!-- Page content-->
      <div class="container pt-5 pb-lg-4 mt-5 mb-sm-2">
        <!-- Breadcrumb-->


        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}

        <div class="row">
          <!-- Sidebar-->
          <aside class="col-lg-4 col-md-5 pe-xl-4 mb-5">
            <!-- Account nav-->
            <div class="card card-body border-0 shadow-sm pb-1 me-lg-1">
              <div class="collapse d-md-block mt-3" id="account-nav">
                <div class="card-nav">
                  <a class="card-nav-link " href="{% url 'add_product' %}">
                    <i class="fi-plus opacity-60 me-2"></i>Add Product
                  </a>
                  <a class="card-nav-link active" href="{% url 'open_job' %}">
                    <i class="fi-list opacity-60 me-2"></i>Open new job application
                  </a>
                </div>
              </div>
            </div>
          </aside>

          <!-- Main Content-->
          <div class="col-lg-8 col-md-7 mb-5">
            <h1 class="h2 mb-4">Open <span style="color: #fd5631;"> NEW </span>job application</h1> 
            
            <form method="POST" enctype="multipart/form-data" class="needs-validation" novalidate>
              {% csrf_token %}
              
              <div class="border rounded-3 p-3 mb-4" id="personal-info">
                <!-- job title -->
                <div class="border-bottom pb-3 mb-3">
                  <div class="d-flex align-items-center justify-content-between">
                    <div class="pe-2">
                      <label class="form-label fw-bold" for="job_title">job title</label>
                      <input type="text" id="job_title" name="job_title" class="form-control" required>
                    </div>
                  </div>
                </div>

                <!--  job department -->
                <div class="border-bottom pb-3 mb-3">
                  <div class="d-flex align-items-center justify-content-between">
                    <div class="pe-2">
                      <label class="form-label fw-bold" for="job_department">Choose department</label>
                      <select class="form-select" id="job_department" name="job_department" required>
                        <option value="" selected disabled>choose department</option>
                        <option value="production department">production department</option>
                        <option value="research & development department">research & development department</option>
                        <option value="quality assurance">quality assurance</option>
                        <option value="quality control">quality control</option>
                        <option value="maintance department">maintance department</option>
                        <option value="finance department">finance department</option>
                        <option value="E-marketing department">E-marketing department</option>
                      </select>
                      <div class="invalid-feedback">Please select a job department.</div>
                    </div>
                  </div>
                </div>

                

                <!-- job description -->
                <div class="border-bottom pb-3 mb-3">
                  <div class="d-flex align-items-center justify-content-between">
                    <div class="pe-2 w-100">
                      <label class="form-label fw-bold" for="job_description">Description</label>
                      <textarea id="job_description" name="job_description" class="form-control" rows="3" required></textarea>
                    </div>
                  </div>
                </div>

                
                <!-- job location -->
                <div class="border-bottom pb-3 mb-3">
                  <div class="d-flex align-items-center justify-content-between">
                    <div class="pe-2">
                      <label class="form-label fw-bold" for="job_location">Job Location</label>
                      <select class="form-select" id="job_location" name="job_location" required>
                        <option value="" selected disabled>Choose location</option>
                        <option value="adlib">Adlib</option>
                        <option value="hama">Hama</option>
                        <option value="aleppo">Aleppo</option>
                        <option value="homs">Homs</option>
                        <option value="damascus">Damascus</option>
                        <option value="latakia">Latakia</option>
                        <option value="tartous">Tartous</option>
                      </select>
                      <div class="invalid-feedback">Please select a job location.</div>
                    </div>
                  </div>
                </div>

              <!-- job Photo -->
              <div class="mb-4">
                <label class="form-label fw-bold" for="job_photo">job Photo</label>
                <input type="file" id="pro_photo" name="job_photo" class="form-control" accept="image/*" required>
              </div>

              <div class="d-flex align-items-center justify-content-between border-top mt-4 pt-4 pb-1">
                <button class="btn btn-primary px-3 px-sm-4" type="submit">Save Product</button>
                <button class="btn btn-outline-secondary px-3 px-sm-4" type="reset">Reset</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </main>


    <!-- Back to top button-->
    <a class="btn-scroll-top" href="#top" data-scroll>
      <span class="btn-scroll-top-tooltip text-muted fs-sm me-2">Top</span>
      <i class="btn-scroll-top-icon fi-chevron-up"></i>
    </a>

    <!-- Vendor scripts-->
    <script src="{% static 'vendor/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'vendor/simplebar/dist/simplebar.min.js' %}"></script>
    <script src="{% static 'vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js' %}"></script>
    <script src="{% static 'vendor/filepond-plugin-file-validate-type/dist/filepond-plugin-file-validate-type.min.js' %}"></script>
    <script src="{% static 'vendor/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.min.js' %}"></script>
    <script src="{% static 'vendor/filepond-plugin-image-crop/dist/filepond-plugin-image-crop.min.js' %}"></script>
    <script src="{% static 'vendor/filepond-plugin-image-resize/dist/filepond-plugin-image-resize.min.js' %}"></script>
    <script src="{% static 'vendor/filepond-plugin-image-transform/dist/filepond-plugin-image-transform.min.js' %}"></script>
    <script src="{% static 'vendor/filepond/dist/filepond.min.js' %}"></script>
    <!-- Main theme script-->
    <script src="{% static 'js/theme.min.js' %}"></script>

    <!-- Page loading scripts-->
    <script>
      (function () {
        window.onload = function () {
          var preloader = document.querySelector('.page-loading');
          preloader.classList.remove('active');
          setTimeout(function () {
            preloader.remove();
          }, 2000);
        };
      })();
    </script>
  </body>
</html>